@keyframes shaking {
  0% {
    margin-left: -15px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 0px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  padding: 10px;
  margin: 10vh auto;
}

input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 7px;
  padding-left: 0px;
  margin-bottom: 5px;
  min-width: 300px;
  max-width: 700px;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid blue;
}

input:hover {
  border-color: rgb(197, 221, 230);
}

h2 {
  font-style: italic;
  color: black;
}

.with-error {
  border: none;
  border-bottom: 1px solid red !important;
  animation-name: shaking;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-duration: 0.2s;
}

.error {
  color: red;
  font-style: italic;
  
}

.simple-label {
  color: rgb(150, 150, 190);
  font-style: italic;
}

.input-container {
  width: min-content;
  margin: auto;
  text-align: left;
}

button {
  margin: 10px !important;
}